<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Data Collection</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <h1> Instructions </h1>
        <p> Please click "LIKE" or "DISLIKE" below the image. This will save your response and progress you to the next image. If you want to move backwards, please clike the 'BACK' button above the image. There is also an image counter above the image to show your progress. </p>
        <p> After voting "LIKE" or "DISLIKE" for each image, a thank you message will appear; just click the "FINISHED" button below the thank you message to finalize your submission. Thank you again. </p>
        {% endblock %}
    </body>
</html>
